name: ci

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - terraform/**
      - docs/**
      - .github/**
      - .vscode/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: backend

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Set timezone
        run: echo "TZ=Asia/Tokyo" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: yarn
      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: cache-node-modules-${{ hashFiles('backend/yarn.lock') }}
      - name: yarn install
        run: |
          yarn install
  lint:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: yarn
      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: cache-node-modules-${{ hashFiles('backend/yarn.lock') }}
      - name: yarn lint
        run: yarn lint
  # test:
  #   runs-on: ubuntu-latest
  #   needs: prepare
  #   steps:
  #     - name: Set timezone
  #       run: echo "TZ=Asia/Tokyo" >> $GITHUB_ENV
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version-file: .node-version
  #         cache: yarn
  #     - name: Cache node modules
  #       id: cache
  #       uses: actions/cache@v3
  #       with:
  #         path: '**/node_modules'
  #         key: cache-node-modules-${{ hashFiles('yarn.lock') }}
  #     - name: yarn test
  #       run: yarn test
  # build:
  #   runs-on: ubuntu-latest
  #   needs: prepare
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version-file: .node-version
  #         cache: yarn
  #     - name: Cache node modules
  #       id: cache
  #       uses: actions/cache@v3
  #       with:
  #         path: '**/node_modules'
  #         key: cache-node-modules-${{ hashFiles('yarn.lock') }}
  #     - name: build
  #       run: yarn build
